.hero {
    background-image: url('/src/assets/herobg.png'); /* Adjust the path as needed */
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Set text color as needed */
  }

.gilbert_portfolio {
  position: absolute;
  inset: 0;
  top: 120px;
  max-width: 7xl;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 55rem;
  gap: 1.25rem; 
}

.portfolio_title_text{
  font-size: 2rem; /* Adjust the size as needed */
  font-weight: bold;
}